.container{
	font-family: "Poppins", sans-serif;
	display: flex;
  /* display: grid;
  grid-template-columns: 1fr 5fr; */
	/* position: relative; */
  /* background-color: #000000; */
  height: 100vh;
}

/* .container img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	position: absolute;
} */

.sidebar{
	position: sticky;
	top: 0;
	left: 0;
	bottom: 0;
  width: 250px;
	/* width: 255px;*/
	/* height: 100vh;  */
	border-right: 1.5px solid #404e95b3;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	color: #15171b;
	/* backdrop-filter: blur(20px); */
	/* border-radius: 15px;
	margin: 10px; */
	padding: 0 0.8rem;
	transition: all 0.5s linear;
	overflow: hidden;
}

.institute_name{
	/* margin: 20px 0; */
  margin: 2rem 0;
	text-align: center;
	font-family: "Kaushan Script", cursive;
	cursor: pointer;
}

.items{
	/* height: 80%; */
	/* position: relative; */
	list-style: none;
}

.items li{
	/* padding: 2rem 1rem;
	margin: 33px 0 0 15px; */
  padding: 1rem 2.5rem;
  margin-bottom: 1rem;
	border-radius: 25px;
  font-size: 1rem;
	color: #000000;
	cursor: pointer;
}

.items li:hover{
	background-color: #a4d2ff;
	/* color: #1204cb; */
	margin-left: calc(1rem - 10px);
}

.items li span{
	margin-left: 0.3rem;
}

/* .items li:last-child{
	position: absolute;
	bottom: 0;
	width: 100%;
} */

.main{
	position: relative;
	width: 100%;
	/* padding: 1rem; */
}

.header{
	/* border: 2px solid #404e95b3; */
	color: #15171b;
	/* backdrop-filter: blur(20px); */
  box-shadow: rgba(60, 64, 67, 0) 0px 1px 2px 0px, #3c404326 0px 2px 6px 0px;
	/* border-radius: 15px; */
	/* padding: 1rem; */
}

.header h2{
	text-align: center;
  margin: 1rem 0;
}

.header hr{
  width: 100%; 
  border-bottom: 0.5px solid #404e95b3; 
}

.info{
	width: 100%;
}

@media (max-width: 990px) {
  .sidebar{
    padding: 0 0.3rem;
  }
  .items li{
    margin-bottom: 2rem;
    padding: 1rem 1rem;
  }
}