img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	position: absolute;	
}

.container {
  width: 100%;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
	position: relative;
  height: 100vh;
	display: flex;
  align-items: center;
	justify-content: center;
}

.loginform{
	/* position: relative; */
	border: 2px solid #ffffffb3;
	padding: 2.5rem 0rem;
	color: #ffffff;
	backdrop-filter: blur(20px);
	border-radius: 1rem;
	/* height: 28rem;
  width: 25rem; */
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginform .error_message{
	color: red;
	text-align: center;
	font-weight: 600;
}

.loginform h2 {
  font-size: 1.5rem;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 3.5rem;
	/* margin-top: 1rem; */
}

.input_fields{
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	align-items: center;
  height: 250px;
}

.input_field{
  height: 13%;
  width: 60%;
}

.loginform input {
  height: 100%;
  width: 100%;
	border: none;
	padding: 0 20px;
	/* margin-bottom: 2rem; */
	border-radius: 20px;
	letter-spacing: 1px;
}

.loginform input::placeholder{
	letter-spacing: 2px;
}

.loginform input:focus{
  outline: none;
}

.btn {
	width: 60%;
	height: 50px;
	margin-top: 10px;
	letter-spacing: 3px;
	font-weight: 700;
	border: none;
	background-image: linear-gradient(to right, #6900a7a8, #0076ef);
	border-radius: 40px;
	cursor: pointer;
	transition: opacity .3s;
}

.btn:hover{
	opacity: 0.7;
}

@media (max-width: 768px) {
  .loginform{
    width: 70%;
  }
  .loginform h2{
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .loginform{
    width: 90%;
  }
  .loginform input::placeholder{
    font-size: 12px;
  }
  .btn {
    height: 35px;
    letter-spacing: 2px;    
  }
}