.container{
	font-family: "Montserrat", sans-serif;
	position: relative;
  height: 100vh;
	display: flex;
  align-items: center;
	justify-content: center;
}

.container img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	position: absolute;	
}

.add_student_container{
	border-radius: 15px;
	padding: 16px;
	display: flex;
	justify-content: end;
}

.add_student_container button{
	background-color: #003affa6;
	color: #ffffff;
	border: none;
	padding: 18px;
	border-radius: 10px;
	letter-spacing: 2px;
	cursor: pointer;
}

.student_data{
	border: 2px solid #404e95b3;
	color: #15171b;
	backdrop-filter: blur(20px);
	margin-top: 1rem;
	border-radius: 15px;
	padding: 15px;
}

.table_container{
	width: 100%;
	height: auto;
}

.student_data table {
	width: 100%;
	height: 13rem;
	border-collapse: collapse;
}

.student_data thead{
	background: #3384d361;
}

.student_data th{
	padding: 15px;
	letter-spacing: 1.5px;
}

.student_data tbody{
	background-color: #ebeaf5;
}

.student_data td{
	padding: 15px;
	color: #2e2c2c;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
}

.student_data td:last-child{
	color: #003a7c;
	font-weight: 700;
}

.student_data tr:nth-child(even){
	background-color: #ffffff;
}